
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #f1f6fc31;
}

section,
footer{
    padding: 54px 0;

}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}
.btn:hover{
    background-color: #3580db;
}

@keyframes animate-outline {
    from{
        outline: 0px solid #4f9cf98a;
    }
    to{
        outline: 15px solid #4f9bf900;
    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    display: block;
}
nav ul a:not(.btn)::after{
    content: "";
    background-color: #3580db;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 80ms;
}
nav ul a:hover::after{
    width: 100%;
}

/*Menu Icon*/
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}

nav .close-icons{
    display: none;
    font-size: 30px;
    color: white;
}


.banner{
    display: flex;
    justify-content: center;
}
.banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}

/* faca mais */
.faca-mais .container {
    display: flex;
    align-items: center;
}
.faca-mais .faca-mais-text{
    width: 50%;
    padding: 0 40px;
}
.faca-mais .faca-mais-text h3{
    font-size: 56px;
}
.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;
}
.faca-maios .faca-mais-img{
    width: 50%;
}
.faca-maios .faca-mais-img img{
    width: 100%;
}

/* Cards Depoimentos*/
.depoimentos h3{
    text-align: center;
}

.depoimentos p{
    margin-bottom: 20px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
}

.depoimentos .cards-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .cards-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .cards-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .cards-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.depoimentos .cards-item .estrelas {
    margin: 15px 0;
    border-top: 2px solid #71767a23;
}

.depoimentos .cards-item .estrelas i{
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.depoimentos .cards-item:hover{
    background-color: #4f9cf9;
    margin-top: -5px;
}

.depoimentos .cards-item:hover .nome-user,
.depoimentos .cards-item:hover .depoimento-user,
.depoimentos .cards-item:hover .estrelas i{
    color: white;
}

/*Clientes*/
.Clientes h3,
.Clientes p{
    text-align: center;
}

.CLientes .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Fotter*/

.footer{
    background-color: #4f9cf9;
    text-align: center;
}

.footer i{
    color: #4f9cf9;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p{
    margin-top: 10px;
    color: grey;
}

/* Pagina sobre */

.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text{
    width: 50%;
    padding-right: 40px;
}

.sobre .sobre-text p{
    margin: 18px 0;
    color: #000000a6;
}

.sobre .sobre-img{
    width: 50%;
}

.sobre .sobre-img{
    width: 100%;
    border-radius: 10px;
}

/* Fim Pagina Sobre */

/* Pagina Serviços */

.servicos h3{
    text-align: center;
}

.servicos .container > p{
    text-align: center;
}

.servicos .rows-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.servicos .rows-card-item {
    background-color: #d3e6fd;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}

.servicos .rows-card-item:hover p{
    color: white;
}

.servicos .rows-card-item:hover{
    background-color: #4f9cf9;
}

.servicos .rows-card-item img{
    background-color: #4f9cf9;
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}

.servicos .rows-card-item p.nome-servico{
    margin: 5px 0;
    transition: 0.3s;
}

.servicos .rows-card-item p.descricao-servico{
    transition: 0.3s;
}


/*Dados*/

.dados{
    background: #d3e6fd;
}

.dados .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: #000000be;
}


.dados .dados-item img{
    background-color: #4f9cf9;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}

.dados .dados-item p{
    font-size: 18px;
}

.dados .dados-item strong{
    font-size: 28px;
}

/* Fim Paginas Serviços*/

/* Pagina Contato */

.contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contato-info .left-side{
    width: 50%;
    padding: 30px;
    background-color: #4f9cf9;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}

.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-info .left-side div i{
    font-size: 24px;
    margin-right: 20px;
    color: white;
}

.contato-info .left-side div p{
    font-size: 17px;
    margin-right: 20px;
    color: white;
}


/* Fim Pagina Contato */

@media(max-width: 830px){
    /*Menu mobile*/
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #184b88;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    .ul.open{
        clip-path: circle(141.4% at 100% 0);
    }

    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon{
        display: block;
    }

    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
}
